# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.class

# Project exclude paths
/simple-demo/target/
/spring-boot-demo/target/
/spring-demo/target/